<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("form").submit(function(e) {
                e.preventDefault();

                var form = $(this);
                var type = form.attr('method');
                var url = form.attr('action');
                $.ajax({
                        type: type,
                        url: url,
                        data: {content:$("#content").val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
                        dataType: "json",
                        success: function(data)
                        {
                            $("#encrypted_content").text(data.encrypted_content);
                        },
                        error: function (data) {
                            console.log('An error occurred.');
                            console.log(data);
                        },
                     });

            });
        });
    </script>

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <h2>中文乱序生成器</h2>
      <form id="form" action="/encrypt" method="post">
        <div class="form-group md-form mb-4">
            <textarea id="content" class="md-textarea form-control" rows="6" placeholder="请输入内容..." required></textarea>
        </div>
        <button type="submit" class="btn btn-default">生成</button>
      </form>

      <div class="mb-4" style="margin-top: 15px">
        <textarea id="encrypted_content" class="md-textarea form-control" rows="6" readonly></textarea>
      </div>
    </div>
  </body>
</html>